@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.4);
}

a {
    color: inherit;
    text-decoration: none;
}

/* UTILITIES */

.t-white {
    color: white;
}

.t-bold {
    font-weight: 700;
}

.overflow-hidden {
    overflow: hidden;
}

.icon-size-default {
    font-size: 1.2rem;
}

.icon-size-big {
    font-size: 1.5rem;
}

.icon-size-bigger {
    font-size: 2.5rem;
}

.p-sidebar {
    display: block;
    padding: 0.5rem 1.5rem;
}

.display-none {
    display: none;
}

/* FLEX */

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-default {
    gap: 1rem;
}

.gap-small {
    gap: 0.5rem;
}

.gap-big {
    gap: 2rem;
}

.col-30 {
    flex-basis: calc( 100% / 3 );
}

/* GENERALI */

.app-container {
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    background-color: #000000;
    flex-basis: 250px;
    font-size: 1.1rem;
    padding: 1rem 0;
}

.logo-img {
    width: 80%;
}

.nav-icon {
    width: 35px;
    filter: opacity(0.4);
}

.add-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 2.8rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    border: none;
    cursor: pointer;
}

.playlist-container {
    overflow: auto;
}

.app-promo {
    padding: 0.5rem 0;
    border-bottom: 2px solid;
    margin-bottom: 1rem;
}

.download-icon {
    height: 1.5rem;
    filter: opacity(0.4);
}

.user-img-container {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.user-img {
    background-color: #808080;
}

/* TOP BAR */

.top-bar {
    background-color: rgba(255, 255, 255, 0.5);
}

/* MAIN CONTENT */

.main-content-container {
    background-color: #141922;
}

/* BOTTOM BAR */

.bottom-bar {
    background-color: #282828;
    padding: 0 1rem;
}

.playing-img {
    width: 60px;
    padding: 2rem 0;
}

.artist-name {
    font-size: 0.8rem;
}

.bar {
    background-color: #5A5A5A;
    border-radius: 5px;
    height: 5px;
}

.volume-bar {
    width: 150px;
}

.bar-progress {
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 5px;
}