@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.4);
}

/* Utilities */

.t-white {
    color: white;
}

.t-bold {
    font-weight: 600;
}

.icon-size-default {
    font-size: 1.2rem;
}

.icon-size-big {
    font-size: 1.5rem;
}

.icon-size-bigger {
    font-size: 2.5rem;
}

/* Flex */

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-default {
    gap: 1rem;
}

.gap-big {
    gap: 2rem;
}

.col-30 {
    flex-basis: calc( 100% / 3 );
}

/* Stili generali */

.app-container {
    height: 100vh;
}

.sidebar {
    background-color: #000000;
    flex-basis: 250px;
}

.content-container {
    background-color: #141922;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.5);
}

.bottom-bar {
    background-color: #282828;
    padding: 0 1rem;
}

.playing-img {
    width: 60px;
    padding: 2rem 0;
}

.artist-name {
    font-size: 0.8rem;
}

.bar {
    background-color: #5A5A5A;
    border-radius: 5px;
    height: 5px;
}

.volume-bar {
    width: 150px;
}

.bar-progress {
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 5px;
}